{% load staticfiles %}
{% if request.session.status %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Agent: Sold Properties</title>
        <link href="{% static 'css/registration.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'os_main_template/main_title.html' %}
        {% include 'os_agent_template/os_agent_menu.html' %}
        <br>
       <span style="font-size: 25px; text-align: center;display: block;color: springgreen;">
            <table align="center" style="background: crimson">
            <tr>
                <th>
                    Welcome Agent:
                    {% for x in data1 %}
                        {{ x.ag_name }}
                        <th>
                            {% if x.ag_photo  %}
                            <img src="{{ x.ag_photo.url }}" height="50px" width="65px">
                            {% endif %}
                        </th>
                    {% endfor %}
                </th>
            </tr>
            </table>
        </span>
        <table align="center" style="table-layout: fixed; width: 75%">
            <tr>
                <th>
                        {% if data %}
                    <table align="center" style="display: block;overflow-y:scroll;height: 365px; color: gray;background:white;color:
                    crimson;border-radius: 10px;font-weight: bolder;border: transparent;border-collapse: collapse;
                        " class="uptstl" >
                        <tr style="background: lightgray;" >
                            <th colspan="10" style="font-size: 20px; font-style: italic;  color: crimson;">
                                Sold Properties
                            </th>
                        </tr>
                        <tr class="all" style="border-radius: 10px;border: 0px solid;font-size: 15px;">
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 130px;">Pro. No. </th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 130px;">Pro. Name </th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 130px;">Pro. Location</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Pro. Ttl. Area</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Pro. Price</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Pro. Facing</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Comment</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Post Dt.</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Pro. Photo</th>
                            <th class="all uni" style="background: lightgrey;border: none;color: white;width: 120px;">Operations</th>
                        </tr>
                        {% for x in data %}
                            <tr class="all uni" style="overflow: -moz-scrollbars-vertical; z-index: 5;border:
                                 none;font-size: 13px;font-weight: bold;">
                                <th class="all uni" style="word-break: break-all">{{ x.p_no }}</th>
                                <th class="all uni" style="word-break: break-all">{{ x.p_name }}</th>
                                <th class="all uni">{{ x.p_location }}</th>
                                <th class="all uni">{{ x.p_size }}</th>
                                <th class="all uni">{{ x.p_prize }}</th>
                                <th class="all uni">{{ x.p_facing }}</th>
                                <th class="all uni">{{ x.p_comment }}</th>
                                <th class="all uni">{{ x.p_add_date }}</th>
                                <th class="all uni"><img class="all uni" src="{{ x.p_photo.url }}" width="100px"
                                                              height="100px"></th>
                                <th>
{#                                            {% for x in data2 %}#}
{#                                                <a style="font-size: 20px; font-style: italic;  color: crimson;" href="/osagent/os_agent_sold_delete/?p_no={{ x.s_property_no_id }}&client_un={{ x.s_client_un_id }}">#}
{#                                                    <img src="{% static 'images/delete.gif' %}" width="100px" height="100px" style="border-radius: 50%">#}
{#                                                </a>#}
{#                                            {% endfor %}#}
                                    <a href="/osagent/os_agent_sold_delete/?pno={{ x.p_no }}" >
                                        <img src="{% static 'images/delete.gif' %}" width="100px" height="100px"
                                             style="border-radius: 50%">
                                    </a>
                                </th>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <span style="color: springgreen; font-size: 30px;text-align: center;font-style: italic;" >
                                <h2>
                                    No Plots
                                </h2>
                                <img src="{% static 'images/login3.gif' %}" height="330px" width="400px">
                            </span>
                        {% endif %}
                    </table>
                </th>
            </tr>
        </table>
        <tr><th></th></tr>
        <tr><th></th></tr>
            {% include 'os_main_template/main_footer.html' %}
    </body>
</html>
{% else  %}
    <span style="text-align: center;">Pease Login Aagain</span>
{% endif %}





