<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu Page</title>
    <style>
        .menu_stl{ width: 1000px; height: 40px; background: gainsboro; color: crimson; font-weight: bold;
            border-radius: 10px;}
        .menu_stl:hover{height: 40px; background: crimson; color: white; font-weight: inherit; border-radius: 50%;
            font-family: Arial Black;}
        a{color: crimson; font-weight: bold; text-decoration: none}
        a:hover{color: white; font-weight: bold; font-family: "Arial Black"}
    </style>
</head>
<body>
    <table align="center" class="menu_stl">
        <tr class="table" class="menu_stl">
            <th class="menu_stl">
                <a href="/osadmin/os_admin_welcome_home/">HOME</a>
            </th>
            <th class="menu_stl">
                <a href="/osadmin/os_admin_agent_registration/">AGENT REGISTRATION</a>
            </th>
            <th class="menu_stl">
                <a href="/osadmin/os_admin_view_property/">VIEW PROPERTIES</a>
            </th>
            <th class="menu_stl">
                <a href="/osadmin/os_admin_view_client/">VIEW CLIENTS</a>
            </th>
            <th class="menu_stl">
                <a href="/osadmin/os_admin_about_us/">ABOUT US</a>
            </th>
            <th class="menu_stl">
                <a href="/osadmin/os_admin_logout/">LOGOUT</a>
            </th>
        </tr>
    </table>
</body>
</html>

