{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page Footer</title>
    <style>
        #copyright{text-align: center;margin: auto; width: 72.2%;border-radius: 10px;padding: 12px;
            background: rgb(220,220,220);color: crimson;font-size: 15px; transition: transform 3s;height: 22px;
            border: none;
            font-weight: bolder}
        #copyright:hover{
            background: crimson;border-radius: 50%; color: white; font-size: 20px; font-weight: bold;
            transform: rotate(2deg); width: 70%; border: none;
        }
    </style>
</head>
<body>
    <div id="copyright">@ All copyrights Received.</div>
</body>
</html>