{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutsUS</title>
</head>
<body>
  {% include 'os_main_template/main_title.html' %}
  {% include 'os_main_template/main_menu.html' %}
<span style="font-size: 15px; text-align: center;display: block;color: crimson;">
{#            Welcome Admin: {% for x in data %} {{ x.a_contact_no }} {% endfor %}#}
        </span>
        <br>
        <p style="width: 73%; margin: auto; text-align: -webkit-match-parent">
            <div style="text-align: center; font-size: 35px; background: lightgray;width: 250px;
               margin: auto;border-radius: 10px; "><a href=""> About Us:</a></div>
            <div align="center" style="color: crimson">
                <a href="">
                Submited By:
                Sridhar Sangishetti</a>
            <br>
                <a href="">
                Guided By:
                Mr. Naveen Kumar.</a>
            <br>
                <a href=""> www.sathyatech.com</a>
            </div>
        <br>
        {% include 'os_main_template/main_footer.html' %}
</body>
</html>