<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Welcome to Client
    </title>
</head>
<body>
        {% include 'os_main_template/main_title.html' %}
        {% include 'os_client_template/os_client_menu.html' %}
        <br>

        <span style="font-size: 25px; text-align: center;display: block;color: black;">
            <table align="center" style="background: crimson">
            <tr>
                <th>
                    Welcome Cilent:
                    {% for x in data %}
                        {{ x.c_username }}
                        <th>
                            {% if x.c_photo  %}
                            <img src="{{ x.c_photo.url }}" height="50px" width="65px">
                            {% endif %}
                        </th>
                    {% endfor %}
                </th>
            </tr>
            </table>
        </span>
        <br>
        {% include 'os_main_template/slider.html' %}
        <br>
        {% include 'os_main_template/main_footer.html' %}
</body>
</html>